.cart{
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    border: 2px solid rgba(255, 255, 255, 0.203);
    border-bottom: 10px solid #61dafb9f;
    border-radius: 8px;
    box-shadow: 4px 6px 10px 1px #071321;
    padding: 40px;
    
    
}
.summary-logo{
    width: 200px;
    align-self: center;
}
.summary{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.203);;
    padding: 5px;
}
.summary-title>span{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}
.summary-title{
    display: flex;
    align-self: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.203);;
    padding: 5px 5px 10px 5px;
    margin-bottom: 10px;
    max-width: fit-content;
}